body, p, ul{ 
 margin: 0;
 padding: 0
}

.header{
	background-color: blue;
	height: 40vh
	font-size: 20px;
	
	display; flex;
	juistify-content: center;
	align-items: center
}

.nav_list{
 list-style :none;
 display :flex;
 gap: 20px;
 justify-content: center;
 align-items: centeter;
}

.nav_link{
	text-decoration; none;
	color:fff;
}

. nav_item{
 padding-left: 29px;
}

.nav_item :last-child{
	padding-right: 0;
}

.content_wrapper{
 display: flex;
} 

.aside{
	position:left;
}